# Cleaning Ames Data
Here we will be developing the cleaning pipeline. Ultimatly we will store a cleaning function that will clean the data in various specific ways in order to proceed with working with our dataset.

NOTE: we will need to be able to replicate the cleaning and feature generation process in both train and test datasets. We will also need to package a method of

### Import Libraries

In [1]:
import numpy as np
import pandas as pd

### Import `train.csv`

In [2]:
# Read in train data
TRAIN = pd.read_csv("./datasets/train.csv")

#### Clean Column Names

In [5]:
# Clean column names
TRAIN.columns = [element.lower().replace(' ', '_') for element in TRAIN.columns]

In [8]:
# Set the index to be assigned to the id column from the data
TRAIN.set_index('id', drop=False, inplace=True)

In [9]:
# Extract original columns for future use
ORIGINAL_COLUMNS = TRAIN.columns

In [16]:
# Assign features list of features we will be working with
NUMERICAL_FEATURES = ['kitchenabvgr','bedroomabvgr','overallcond','overallqual','totrmsabvgrd']

### Categorical Variables
Here we will dummy out categorical variables.

#### ms_zoning

In [14]:
TRAIN.columns

Index(['id', 'mssubclass', 'mszoning', 'lotfrontage', 'lotarea', 'street',
       'alley', 'lotshape', 'landcontour', 'utilities', 'lotconfig',
       'landslope', 'neighborhood', 'condition1', 'condition2', 'bldgtype',
       'housestyle', 'overallqual', 'overallcond', 'yearbuilt', 'yearremodadd',
       'roofstyle', 'roofmatl', 'exterior1st', 'exterior2nd', 'masvnrtype',
       'masvnrarea', 'exterqual', 'extercond', 'foundation', 'bsmtqual',
       'bsmtcond', 'bsmtexposure', 'bsmtfintype1', 'bsmtfinsf1',
       'bsmtfintype2', 'bsmtfinsf2', 'bsmtunfsf', 'totalbsmtsf', 'heating',
       'heatingqc', 'centralair', 'electrical', '1stflrsf', '2ndflrsf',
       'lowqualfinsf', 'grlivarea', 'bsmtfullbath', 'bsmthalfbath', 'fullbath',
       'halfbath', 'bedroomabvgr', 'kitchenabvgr', 'kitchenqual',
       'totrmsabvgrd', 'functional', 'fireplaces', 'fireplacequ', 'garagetype',
       'garageyrblt', 'garagefinish', 'garagecars', 'garagearea', 'garagequal',
       'garagecond', 'paveddrive', 'wooddecksf', 'openporchsf',
       'enclosedporch', '3ssnporch', 'screenporch', 'poolarea', 'poolqc',
       'fence', 'miscfeature', 'miscval', 'mosold', 'yrsold', 'saletype',
       'salecondition', 'saleprice'],
      dtype='object')

In [15]:
TRAIN[FEATURES]

      kitchenabvgr  bedroomabvgr  overallcond  overallqual  totrmsabvgrd
id
1                1             3            5            7             8
2                1             3            8            6             6
3                1             3            5            7             6
4                1             3            5            7             7
5                1             4            5            8             9
...            ...           ...          ...          ...           ...
1456             1             3            5            6             7
1457             1             3            6            6             7
1458             1             4            9            7             9
1459             1             2            6            5             5
1460             1             3            6            5             6

[1460 rows x 5 columns]